.paper {
    border-radius: 12px !important;
}

.clickablePaper:hover {
    border: 1px solid #4661E6 !important
}



.darkBlueColor {
    color: #3A4374 !important
}

.description {
    color: #647196
}

.chip {
    background-color: #F2F4FF !important;
    color: #4661E6 !important
}

.button {
    background-color: #F2F4FE;
    border-radius: 12px;
    padding: .3rem .7rem;
}

.button:hover { background-color: #CFD7FF}

.buttonArrow {
    color: #4661E6 !important;
    transform: rotate(180deg);
}

.buttonText {
    margin-left: 7px;
}

.commentButton {
    font-size: 1.01rem;
}

.commentButton::before {
    background-image: url(/images/icons/icon-comments.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 22px;
    margin-right: 13px;
    width: 22px;
}


@media screen and (min-width:600px) {
    .button {
        padding: .5rem .4rem
    }

    .buttonText {
        margin-left: 0;
        margin-top: 5px;
    }
}