
* {
  box-sizing: border-box;
}

#root {
  background-color: #F2F4FF;
}

@media screen  and (min-width: 900px){
  #root {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      padding: 3rem 10%;
  }
}
