/** {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Big Shoulders Text', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;
}*/

#root {
    background-color: #F2F4FF;
}

@media screen  and (min-width: 900px){
    #root {
        display: flex;
        justify-content: space-between;
        padding: 3rem 10%;
    }
}